.footer{
    background-color:rgb(50,50,91); ;
    padding: 5% 20%;
    align-items: center;
}

.footer h3{
    color: yellow;

}

.footer p{
    color: white;
}
.footer div{
    width: 100px;
    display: flex;
    gap: 5px;
}